[submodule "pddl.macro-action"]
	path = pddl.macro-action
	url = https://github.com/guicho271828/pddl.macro-action.git
[submodule "pddl.component-planner"]
	path = pddl.component-planner
	url = https://github.com/guicho271828/pddl.component-planner.git
[submodule "pddl.component-abstraction"]
	path = pddl.component-abstraction
	url = https://github.com/guicho271828/pddl.component-abstraction.git
[submodule "guicho-utilities"]
	path = guicho-utilities
	url = https://github.com/guicho271828/guicho-utilities.git
[submodule "pddl"]
	path = pddl
	url = https://github.com/guicho271828/pddl.git
